<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fokusnikleo django blog</title>
</head>
<body>
<div>
    <h1><a href="/">Django Girls Blog for Boys</a></h1>
</div>
<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="">My first post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
        sit amet risus.</p>
</div>
<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="">My second post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
        at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
</div>
<h1>Ознакомление со зверем по имени Джанго, и что от него ожидать</h1>
<h2>Цели данного проекта:</h2>
<ul>
    <li>Получение представления о правильном подходе к программированию</li>
    <li>Понимание возможностей Джанго</li>
    <li>Оценка трудозатрат на создания сайта-визитки</li>
</ul>
<strong>Вообще, не самое плохое времяпровождение на карантине</strong>
<p>Hi there!</p>
<p>It works!</p>
</body>
</html>